$menu-background: #1B1920;
$logo-img-folder: 'images';

.navigation{
		z-index: 1000;
		width: 100%;
		top: 0;
		position: fixed;
		font-family: 'Open Sans' 'sans-serif';

	.logo{
		background-image: url('/#{$logo-img-folder}/logo.png');
		width: 10rem;
		height: 2.6rem;
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.toggle{
		line-height: 3rem;
		padding: 0 0.5rem 0.3rem 0.5rem;
		background-color: darken($menu-background, 10%);

		.menu-icon{
			margin-top: 0.5rem;

			&:focus{
				outline-style: none;
			}

			&::after{
				width: 1.8rem;
			}
		}

		.title-bar-title{
			margin: 0 auto;
		}

		.small-logo{
			padding-bottom: 0.5rem;
			display: inline-block;
			height: 2.6rem;
			width: 6rem;

			&:focus{
				outline-style: none;
			}
		}
	}

	.top-bar{
		background-color: $menu-background;

		.menu{
			background-color: $menu-background;

			li{
				color: #def0fc;
				line-height: 3.4;

				a{
					color: #def0fc;
					text-decoration: none;
					line-height: 2;

					@include breakpoint(medium only){
						font-size: 0.6rem;
					}

					&:hover{
						color: #ffffff;
					}

					&:focus{
					outline-style: none;
					}
				}
			}
		}

		ul.menu.vertical{
			&.sub{
				padding-right: 0.5rem;
				padding-left: 0.5rem;
				margin-top: 0.7rem;

				@include breakpoint(small only){
					margin-top: 2.4rem;
					width: 100% !important;
				}

				li{
					border-bottom: 1px dotted #ffffff;

					&:last-of-type{
						border-bottom: none;
					}
				}
			}

			@include breakpoint(small only){
				text-align: left;
			}
		}
	}
}

